In [2]:
 # Import libraries and dependencies
import ccxt
import os
import pandas as pd
from dotenv import load_dotenv
import datetime

In [3]:
# Load environment variables
load_dotenv()

# Import environment variables
kraken_public_key = os.getenv("KRAKEN_PUBLIC_KEY")
kraken_secret_key = os.getenv("KRAKEN_SECRET_KEY")

# Verify that environment variables were loaded
print(f"Kraken key data type: {type(kraken_public_key)}")
print(f"Kraken secren data type: {type(kraken_secret_key)}")

Kraken key data type: <class 'str'>
Kraken secren data type: <class 'str'>

In [4]:
 # Set the public and private keys for the API
exchange = ccxt.kraken({
    'apiKey': kraken_public_key,
    'secret': kraken_secret_key,
})

In [5]:
# Fetch daily candlestick bar data from `BTC/USD`
btc_prices = exchange.fetch_ohlcv("BTC/USD", "1d")

# Import the data as a Pandas DataFrame and set the columns
btc_prices_df = pd.DataFrame(
    btc_prices, columns=["date", "open", "high", "low", "close", "volume"]
)

# Drop "open, high, low" columns from dataframe
btc_prices_df = btc_prices_df.drop(columns=["open","high","low"])
btc_prices_df.date = pd.to_datetime(btc_prices_df.date, unit='ms')

# Add column "symbol"
btc_prices_df["symbol"] = "BTC/USD"

# Reorder columns
btc_prices_df = btc_prices_df[["symbol","date","close","volume"]]

btc_prices_df.head()

    symbol       date   close       volume
0  BTC/USD 2019-01-28  3431.0  4223.886542
1  BTC/USD 2019-01-29  3395.0  3060.276564
2  BTC/USD 2019-01-30  3436.9  2130.910940
3  BTC/USD 2019-01-31  3409.6  2200.635489
4  BTC/USD 2019-02-01  3437.2  2824.678878

In [6]:
btc_prices_df.to_csv(r"btcprices.csv", index = False)

In [7]:
# Fetch daily candlestick bar data from `ETH/USD`
eth_prices = exchange.fetch_ohlcv("ETH/USD", "1d")

# Import the data as a Pandas DataFrame and set the columns
eth_prices_df = pd.DataFrame(
    eth_prices, columns=["date", "open", "high", "low", "close", "volume"]
)

# Drop "open, high, low" columns from dataframe
eth_prices_df = eth_prices_df.drop(columns=["open","high","low"])
eth_prices_df.date = pd.to_datetime(eth_prices_df.date, unit='ms')

# Add column "symbol"
eth_prices_df["symbol"] = "ETH/USD"

# Reorder columns
eth_prices_df = eth_prices_df[["symbol","date","close","volume"]]

eth_prices_df.head()

    symbol       date   close         volume
0  ETH/USD 2019-01-28  105.43  116919.953476
1  ETH/USD 2019-01-29  104.01   58259.806501
2  ETH/USD 2019-01-30  107.50   80182.639900
3  ETH/USD 2019-01-31  105.74   67713.537526
4  ETH/USD 2019-02-01  105.69   80417.732063

In [8]:
eth_prices_df.to_csv(r"ethprices.csv", index = False)

In [9]:
# Fetch daily candlestick bar data from `LTC/USD`
ltc_prices = exchange.fetch_ohlcv("LTC/USD","1d")

# Import the data as a Pandas DataFrame and set the columns
ltc_prices_df = pd.DataFrame(
    ltc_prices, columns=["date", "open", "high", "low", "close", "volume"]
)

# Drop "open, high, low" columns from dataframe
ltc_prices_df = ltc_prices_df.drop(columns=["open","high","low"])
ltc_prices_df.date = pd.to_datetime(ltc_prices_df.date, unit='ms')

# Add column "symbol"
ltc_prices_df["symbol"] = "LTC/USD"

# Reorder columns
ltc_prices_df = ltc_prices_df[["symbol","date","close","volume"]]

ltc_prices_df.head()

    symbol       date  close       volume
0  LTC/USD 2019-01-28  30.88  5079.953753
1  LTC/USD 2019-01-29  30.67  2233.563972
2  LTC/USD 2019-01-30  31.59  2372.267243
3  LTC/USD 2019-01-31  31.17  5511.537932
4  LTC/USD 2019-02-01  32.43  5922.005102

In [10]:
ltc_prices_df.to_csv(r"ltcprices.csv", index = False)

In [11]:
# Fetch daily candlestick bar data from `DASH/USD`
dash_prices = exchange.fetch_ohlcv("DASH/USD", "1d")

# Import the data as a Pandas DataFrame and set the columns
dash_prices_df = pd.DataFrame(
    dash_prices, columns=["date", "open", "high", "low", "close", "volume"]
)

# Drop "open, high, low" columns from dataframe
dash_prices_df = dash_prices_df.drop(columns=["open","high","low"])
dash_prices_df.date = pd.to_datetime(dash_prices_df.date, unit='ms')

# Add column "symbol"
dash_prices_df["symbol"] = "DASH/USD"

# Reorder columns
dash_prices_df = dash_prices_df[["symbol","date","close","volume"]]

dash_prices_df.tail()

       symbol       date    close        volume
715  DASH/USD 2021-01-12  128.493  27694.167530
716  DASH/USD 2021-01-13  133.512  27952.787741
717  DASH/USD 2021-01-14  132.664  11034.697115
718  DASH/USD 2021-01-15  124.320  14795.750073
719  DASH/USD 2021-01-16  129.906   6145.022214

In [12]:
dash_prices_df.to_csv(r"dashprices.csv", index = False)

In [13]:
# Combine dataframes
frames=[btc_prices_df, eth_prices_df, ltc_prices_df, dash_prices_df]
combined_df = pd.concat(frames)

# Reset Index
combined_df = combined_df.reset_index(drop=True)
combined_df

        symbol       date     close        volume
0      BTC/USD 2019-01-28  3431.000   4223.886542
1      BTC/USD 2019-01-29  3395.000   3060.276564
2      BTC/USD 2019-01-30  3436.900   2130.910940
3      BTC/USD 2019-01-31  3409.600   2200.635489
4      BTC/USD 2019-02-01  3437.200   2824.678878
...        ...        ...       ...           ...
2875  DASH/USD 2021-01-12   128.493  27694.167530
2876  DASH/USD 2021-01-13   133.512  27952.787741
2877  DASH/USD 2021-01-14   132.664  11034.697115
2878  DASH/USD 2021-01-15   124.320  14795.750073
2879  DASH/USD 2021-01-16   129.906   6145.022214

[2880 rows x 4 columns]

In [14]:
# convert to csv
combined_df.to_csv(r"krakenprices.csv", index = False)